/*
    NAME OF THE PROJECT (subtitle)
    by Cahdmus

    Table of Contents:
        GENERAL
            reset
            styling
        HEADER
        CONTENT
*/

/* GENERAL
----------------------------------------------- */
/* @import url(); */
/* usually I get my fonts on https://fonts.bunny.net */

:root {
  --background-color: hsl(0, 0%, 91%);
  --font-color: hsl(112, 65%, 7%);
  --accent-font-color: hsl(0, 0%, 53%);
  --accent-color: hsl(46, 100%, 45%);
  --secondary-accent-color: hsl(9, 81%, 47%);
  --border-color: hsl(0, 4%, 84%);

  --main-font: Arial, Helvetica, sans-serif;
  --accent-font: 'Courier New', Courier, monospace;
}

body {
  background: #F7C759;
  background: radial-gradient(at left top, #F7C759, #2AB184);
  display: flex;
}

/* reset
------------------------ */
*, *:before, *:after {
  box-sizing: inherit;
  /* Uncomment next line when you're lost */
  /* border: 1px dotted red; */
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: clamp(1rem, 0.75rem + .75vw, 1.5rem);
}

body {
  font-family: var(--main-font);
  color: var(--font-color);
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--accent-font);
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}


/* styling
------------------------ */
h1 {
  font-size: 1rem;
  padding: 1rem;
}

/* HEADER
----------------------------------------------- */

/* CONTENT
----------------------------------------------- */
.module {
  background-color: var(--background-color);
  width: 55%;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, 0.5);
  -moz-box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, 0.5);
  box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, 0.5);
}

.npcGenerator {
  display: grid;
}